*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: deeppink;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.btn{
    padding: 1rem;
    border: 1px solid black;
    outline: none;
    border-radius: 1rem;
}
.box1:hover , 
.box2:hover{
    transform: scale(1.5);
    transition: 1s ease-in;
}