ul li{
    color: red;
}
h1 , h2{
    color: blue;
}
input[type="submit"]{
    background-color: red;
    color: white;
    border: 1px solid black;
    padding: .5rem;
    border-radius: 1rem;
}
ul#online li{
    color: pink;
}
input[type="email"]{
    background-color: red;
    border: 1px solid black;
}