*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(224, 136, 20);
}
.container{
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-areas: "b b a" "b b c" "b b c";
}
.box{
    color: #fff;
    font-size: 30px;
    text-align: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box1{ 
    grid-area: a;
}
.box2{
    grid-area: b;
}
.box3{
    grid-area: c;
}