.box{
    width: 300px;
    height: 300px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: .0938rem;
    animation-name: BackgroundChange;
    animation-duration: 3s;
    
}
@keyframes BackgroundChange{
    from{
    background-color: chocolate;
    border-radius: 1rem;
    }
    to{
        background-color: aqua;
        border-radius: 0;
    }
}