*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(224, 136, 20);
}
.box{
    color: #fff;
    font-size: 30px;
    text-align: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container{
    width: 700px;
    height: 700px;
    display: grid;
    grid-template: repeat(2 , 1fr) / repeat(4 , 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}